<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Remf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--VISA адрес устройства, к которому подключена нижняя термопара-->
    <add key="BottomVISA" value="USB0::0x164E::0x0DAD::TW00030924::0::INSTR"/>
    <!--VISA адрес устройства, к которому подключена верхняя термопара-->
    <add key="TopVISA" value="USB0::0x164E::0x0DAD::TW00030910::0::INSTR"/>
    <!--VISA адрес устройства, который производит измерения сопротивления-->
    <add key="ResistanceVISA" value="USB0::0x0957::0x0607::MY53010108::0::INSTR"/>
    <!--VISA адрес источника питания для градиентной спирали-->
    <add key="GradientPowerVISA" value="USB0::0xFFFF::0x6700::802147073737310005::0::INSTR"/>
    <!--VISA адрес источника питания для электрической печи сопротивления-->
    <add key="FurnacePowerVISA" value="USB0::0xFFFF::0x6700::802147073737310009::0::INSTR"/>
    <!--Размер градиента температур в мВ-->
    <add key="GradientSize" value="0.4"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa.Interop" publicKeyToken="A128C98F1D7717C1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Remf.Properties.Settings>
      <setting name="SavedFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="IsLastCrashed" serializeAs="String">
        <value>False</value>
      </setting>
    </Remf.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
