<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--VISA адрес устройства, к которому подключена нижняя термопара-->
    <add key="BottomVISA" value="bottomVoltage"/>
    <!--VISA адрес устройства, к которому подключена верхняя термопара-->
    <add key="TopVISA" value="topVoltage"/>
    <!--VISA адрес устройства, который производит измерения сопротивления-->
    <add key="ResistanceVISA" value="resistance"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Ivi.Visa.Interop" publicKeyToken="A128C98F1D7717C1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
